/* .dashboard {
} */

.dashBoardMainBody {
  min-height: 90vh;
}

.dashboardTextColor {
  color: rgb(70, 70, 72);
}

.navbar {
  border-bottom: 1px solid rgb(213, 213, 215);
  height: 100%;
}

.sidebarBorder {
  border-right: 1px solid rgb(213, 213, 215);
}

.activeLink {
  background-color: rgb(228, 236, 255) !important;
  color: rgb(21, 101, 234);
}
