.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: purple;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
}

p {
  color: #cccccc;
  font-size: 1.3rem;
  font-weight: 900;
}

button {
  border: none;
  border-radius: 5px;
  width: 15rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
